:root{
    --darkgrey: rgb(30, 30, 30);
    --offwhite: rgb(230, 230, 230);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
}

footer{
    background-color: var(--darkgrey);
    color: var(--offwhite);
    padding: 20px;
}

.content{
    margin: 50px;
}

.center-text{
    text-align: center;
}
