:root{
    --darkgrey: rgb(30, 30, 30);
    --offwhite: rgb(230, 230, 230);
    --teal: rgb(27, 146, 140);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
}

header{
    background: linear-gradient(to right, var(--darkgrey), var(--teal));
    color: var(--offwhite);
    padding: 20px;
}

footer{
    background-color: var(--darkgrey);
    color: var(--offwhite);
    padding: 20px;
}

a{
    text-decoration: none;
    color: var(--darkgrey);
    cursor: pointer;
}

.content{
    margin: 50px;
}

.center-text{
    text-align: center;
}

#header-link{
    color: var(--offwhite);
}

#category-grid{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    background-color: var(--darkgrey);
    padding: 10px;
}

.category-grid-item{
    color: var(--offwhite);
    height: 200px;
    width: 200px;
}

.category-grid-item a{
    color: var(--offwhite);
}