{% extends "master.html" %}

{% block title %}
  {{ article.title }}
{% endblock %}


{% block content %}

<div id="article-wrapper">

<a href="../categories/browse/{{article.category.id}}" id="article-category">{{article.category}}<a><br><br>

<h2>{{article.title}}</h2><br>
{% if article.createdAt == article.updatedAt %}
<p id="article-date">Created {{ article.createdAt }}</p><br>
{% else %}
<p id="article-date">Created {{ article.createdAt }} | Last updated {{ article.updatedAt }}</p><br>
{% endif %}


<div id="article-img-description">

    <img src="{{ article.coverImg.url }}" alt="{{ article.coverImg }}" height="400" width="550" 
    id="article-image"><br><br>

    <p id="article-description">{{ article.description }}</p>


</div><br>


<div id="article-content">{{ article.content|linebreaksbr }}</div>

</div>



  
{% endblock %}