{% extends "master.html" %}

{% block title %}
  {{ category.name }}
{% endblock %}

{% block topnav %}

{% include "top-nav.html" %}

{% endblock %}


{% block content %}

<h1 class="center-text">{{ category.name }}</h1><br>

<div id="article-grid">
  {% for article in articles %}
  <div class="article-grid-item">

    <a href="/article/{{ article.id }}" class="article-grid-item-title">{{ article.title }}</a><br><br>
    <a href="/article/{{ article.id }}"><img src="{{ article.coverImg.url }}" alt="{{ article.coverImg }}" height="200" width="300" 
    class="article-grid-item-image"></a><br><br>
    <p class="article-grid-item-description">{{ article.description }}</p>

  </div>
  {% endfor %}
</div>
  
{% endblock %}