{% extends "master.html" %}

{% block title %}
  {{ category.name }}
{% endblock %}

{% block topnav %}

<div id="top-nav">

  {% for category in categories %}

  <a href="{{ category.id }}">{{ category.name }}</a>

  {% endfor %}

  <a href="/"></a>

</div>

{% endblock %}


{% block content %}

<h1>{{ category.name }}</h1><br>

<div id="article-grid">
  {% for article in articles %}
  <div class="article-grid-item">

    <a href="../../article/{{ article.id }}" id="article-grid-item-title">{{ article.title }}</a><br><br>
    <a href="../../article/{{ article.id }}"><img src="{{ article.coverImg.url }}" alt="{{ article.coverImg }}" height="200" width="300" 
    id="article-grid-item-image"></a><br><br>
    <p id="article-grid-item-description">{{ article.description }}</p>

  </div>
  {% endfor %}
</div>
  
{% endblock %}