{% load static %}
<footer>
    <p id="footer-year" class="center-text">© Torre Media</p><br>

    <div id="social-media-footer-div">
    <a href="https://www.facebook.com/">
        <img src="{% static 'media/icons/facebook-icon-white.jpg' %}" alt="Facebook Link"
        height="30" width="30">
    </a>
    <a href="https://www.instagram.com/?hl=en">
        <img src="{% static 'media/icons/instagram-icon-white.png' %}" alt="Instagram Link"
        height="30" width="30">
    </a>
    <a href="https://twitter.com/">
        <img src="{% static 'media/icons/twitter-icon-white.jpg' %}" alt="Twitter Link"
        height="30" width="30">
    </a>
    <a href="https://www.linkedin.com/">
        <img src="{% static 'media/icons/linkedin-icon-white.jpg' %}" alt="LinkedIn Link"
        height="30" width="30">
    </a>
    <a href="https://www.youtube.com/">
        <img src="{% static 'media/icons/youtube-icon-white.png' %}" alt="YouTube Link"
        height="30" width="30">
    </a>
    </div>
</footer>