{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' type='image/png' href="{% static 'media/icons/tower-white-teal-background.png' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
{% include "header.html" %}
<body onload="loadDefaults()">

    {% block topnav %}{% endblock %}

    <div class="content">

        {% block content %}
        {% endblock %}

    </div>


</body>
{% include "footer.html" %}
</html>